<fieldset class="radio-set">
    <legend class="visually-hidden">Касета №5:</legend>
    <span class="radio-legend" aria-hidden="true">Статус кассеты:</span>
    <div class="radio-container">
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="state5"
                    value="able5"
                    id="able5" required>
            <span class="radio-title">Исправна</span>
        </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="state5"
                    value="unable5"
                    id="unable5" required>
            <span class="radio-title">Неисправна</span>
        </label>
    </div>
    <p></p>
    <span class="radio-legend" aria-hidden="true">Номинал кассеты:</span>
    <div class="radio-container">
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination5"
                    value="100_5"
                    id="100_5" required>
            <span class="radio-title">100</span>
        </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination5"
                    value="200_5"
                    id="200_5" required>
            <span class="radio-title">200</span>
        </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination5"
                    value="500_5"
                    id="500_5" required>
            <span class="radio-title">500</span>
        </label><label class="radio-label">
        <input
                class="radio"
                type="radio"
                name="denomination5"
                value="1000_5"
                id="1000_5" required>
        <span class="radio-title">1000</span>
    </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination5"
                    value="2000_5"
                    id="2000_5" required>
            <span class="radio-title">2000</span>
        </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination5"
                    value="5000_5"
                    id="5000_5" required>
            <span class="radio-title">5000</span>
        </label>
    </div>
    <p></p>
    <label class="input-label">
        <span class="input-title">Введите количество оставшихся купюр:</span>
        <input
                class="input"
                type="number"
                size="30"
                min="0"
                name="remainder5" required>
    </label>

</fieldset>
<p></p>

