<fieldset class="radio-set">
    <legend class="visually-hidden">Касета №8:</legend>
    <span class="radio-legend" aria-hidden="true">Статус кассеты:</span>
    <div class="radio-container">
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="state8"
                    value="able8"
                    id="able8" required>
            <span class="radio-title">Исправна</span>
        </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="state8"
                    value="unable8"
                    id="unable8" required>
            <span class="radio-title">Неисправна</span>
        </label>
    </div>
    <p></p>
    <span class="radio-legend" aria-hidden="true">Номинал кассеты:</span>
    <div class="radio-container">
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination8"
                    value="100_8"
                    id="100_8" required>
            <span class="radio-title">100</span>
        </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination8"
                    value="200_8"
                    id="200_8" required>
            <span class="radio-title">200</span>
        </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination8"
                    value="500_8"
                    id="500_8" required>
            <span class="radio-title">500</span>
        </label><label class="radio-label">
        <input
                class="radio"
                type="radio"
                name="denomination8"
                value="1000_8"
                id="1000_8" required>
        <span class="radio-title">1000</span>
    </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination8"
                    value="2000_8"
                    id="2000_8" required>
            <span class="radio-title">2000</span>
        </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination8"
                    value="5000_8"
                    id="5000_8" required>
            <span class="radio-title">5000</span>
        </label>
    </div>
    <p></p>
    <label class="input-label">
        <span class="input-title">Введите количество оставшихся купюр:</span>
        <input
                class="input"
                type="number"
                size="30"
                min="0"
                name="remainder8" required>
    </label>

</fieldset>
<p></p>
