<fieldset class="radio-set">
            <legend class="visually-hidden">Касета №3:</legend>
            <span class="radio-legend" aria-hidden="true">Статус кассеты:</span>
            <div class="radio-container">
                <label class="radio-label">
                    <input
                            class="radio"
                            type="radio"
                            name="state3"
                            value="able3"
                            id="able3" required>
                    <span class="radio-title">Исправна</span>
                </label>
                <label class="radio-label">
                    <input
                            class="radio"
                            type="radio"
                            name="state3"
                            value="unable3"
                            id="unable3" required>
                    <span class="radio-title">Неисправна</span>
                </label>
            </div>
            <p></p>
            <span class="radio-legend" aria-hidden="true">Номинал кассеты:</span>
            <div class="radio-container">
                <label class="radio-label">
                    <input
                            class="radio"
                            type="radio"
                            name="denomination3"
                            value="100_3"
                            id="100_3" required>
                    <span class="radio-title">100</span>
                </label>
                <label class="radio-label">
                    <input
                            class="radio"
                            type="radio"
                            name="denomination3"
                            value="200_3"
                            id="200_3" required>
                    <span class="radio-title">200</span>
                </label>
                <label class="radio-label">
                    <input
                            class="radio"
                            type="radio"
                            name="denomination3"
                            value="500_3"
                            id="500_3" required>
                    <span class="radio-title">500</span>
                </label><label class="radio-label">
                <input
                        class="radio"
                        type="radio"
                        name="denomination3"
                        value="1000_3"
                        id="1000_3" required>
                <span class="radio-title">1000</span>
            </label>
                <label class="radio-label">
                    <input
                            class="radio"
                            type="radio"
                            name="denomination3"
                            value="2000_3"
                            id="2000_3" required>
                    <span class="radio-title">2000</span>
                </label>
                <label class="radio-label">
                    <input
                            class="radio"
                            type="radio"
                            name="denomination3"
                            value="5000_3"
                            id="5000_3" required>
                    <span class="radio-title">5000</span>
                </label>
            </div>
            <label class="input-label">
                <span class="input-title">Введите количество оставшихся купюр:</span>
                <input
                        class="input"
                        type="number"
                        size="30"
                        min="0"
                        name="remainder3" required>
            </label>

        </fieldset>
        <p></p>