<fieldset class="radio-set">
    <legend class="visually-hidden">Касета №6:</legend>
    <span class="radio-legend" aria-hidden="true">Статус кассеты:</span>
    <div class="radio-container">
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="state6"
                    value="able6"
                    id="able6" required>
            <span class="radio-title">Исправна</span>
        </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="state6"
                    value="unable6"
                    id="unable6" required>
            <span class="radio-title">Неисправна</span>
        </label>
    </div>
    <p></p>
    <span class="radio-legend" aria-hidden="true">Номинал кассеты:</span>
    <div class="radio-container">
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination6"
                    value="100_6"
                    id="100_6" required>
            <span class="radio-title">100</span>
        </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination6"
                    value="200_6"
                    id="200_6" required>
            <span class="radio-title">200</span>
        </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination6"
                    value="500_6"
                    id="500_6" required>
            <span class="radio-title">500</span>
        </label><label class="radio-label">
        <input
                class="radio"
                type="radio"
                name="denomination6"
                value="1000_6"
                id="1000_6" required>
        <span class="radio-title">1000</span>
    </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination6"
                    value="2000_6"
                    id="2000_6" required>
            <span class="radio-title">2000</span>
        </label>
        <label class="radio-label">
            <input
                    class="radio"
                    type="radio"
                    name="denomination6"
                    value="5000_6"
                    id="5000_6" required>
            <span class="radio-title">5000</span>
        </label>
    </div>
    <p></p>
    <label class="input-label">
        <span class="input-title">Введите количество оставшихся купюр:</span>
        <input
                class="input"
                type="number"
                size="30"
                min="0"
                name="remainder6" required>
    </label>

</fieldset>
<p></p>
